.container {
  position: relative;
  max-width: fit-content;
  max-height: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;
}



.burger_label {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  height: 0.8em;
  border-radius: 50%;
  width: 0.8em;
  cursor: pointer;
  animation: opacity 200ms;
  transition: 200ms;
  &::before {
    content: '✖';
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
  }
}

.burguer_btn {
  visibility: hidden;
  position: absolute;
}

.burguer_btn:checked + .burger_label::before {
    animation: rotateOff 300ms forwards;
    
}
.burger_label::before {
    animation: rotateOn 300ms forwards;

}

@keyframes rotateOff {
  from {
    rotate: 45deg;
  }
  to {
    rotate: 0deg;
    color: #ff2121;
  }
}
@keyframes rotateOn {
  from {
    rotate: 0deg;
    color: #ff2121;
  }
  to {
    rotate: 45deg;
  }
}
