:root {
  --toggle-bg: #f7eeff;
  --toggle-bg-checked: #c791fd;
}

.checkbox {
  -webkit-appearance: none;
  cursor: pointer;
  background-color: var(--toggle-bg);
  width: 35px;
  height: 20px;
  border-radius: 9px;
  position: relative;
  transition: 400ms;
  outline: 0;

  &:hover {
    box-shadow: 0px 0px 20px 0px var(--toggle-bg-checked);
  }
  &:checked {
    background-color: var(--toggle-bg-checked);
  }
  &::before {
    content: ' ';
    position: absolute;
    width: 14px;
    height: 14px;
    top: 3px;
    right: 19px;
    border-radius: 100%;
    background-color: var(--toggle-bg-checked);
    animation: 700ms unCheked;
  }
  &:checked::before {
    animation: 600ms cheked forwards;
  }
}

@keyframes cheked {
  50% {
    width: 17px;
  }

  100% {
    right: 3px;
    width: 14px;
    background-color: var(--toggle-bg);
  }
}
@keyframes unCheked {
  0% {
    right: 5px;
  }
  50% {
    width: 17px;
  }
  100% {
    right: 19px;
    background-color: var(--toggle-bg-checked);
  }
}
