@tailwind base;
@tailwind components;
@tailwind utilities;

@property --color-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: #fff;
}

@property --color-2 {
  syntax: "<color>";
  inherits: true;
  initial-value: #fff;
}

.slick-button {
  --color-1: #e0218c;
  --color-2: #eaa221;
  background-image: linear-gradient(40deg, var(--color-1), var(--color-2));
  transition:
    --color-1 2000ms,
    --color-2 800ms;
}

.slick-button:hover {
  --color-1: #eaa221;
  --color-2: #e0218c;
}

@font-face {
  font-family: "Monserrat";
  src: url("../src/assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Monserrat";
  src: url("../src/assets/fonts/Montserrat-Bold.ttf");
  font-weight: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--background);
  font-family: "Monserrat";
  background-color: linear-gradient(to bottom "#fff", "#fff");
}
/* 091713 */
:root {
  --background: #171b24;
  --dark-200: #0e1117;

  --primary-100: #3ddbaf;
  --primary-200: #28d7a6;
  --primary-300: #24c295;
  --primary-400: #20ac84;
  --primary-500: #1c9976;
  --primary-600: #188163;
  --primary-700: #146c53;
  --primary-800: #105642;
  --primary-900: #0c4132;
  --primary-950: #082b21;
  --primary-1000: #0b1b17;

  --secundary-100: #fdfaff;
  --secundary-200: #edc7ff;
  --secundary-300: #dd94ff;
  --secundary-400: #cd61ff;
  --secundary-500: #bd2eff;
  --secundary-600: #ab00fa;
  --secundary-700: #8800c7;
  --secundary-800: #650094;
  --secundary-900: #420061;
  --secundary-1000: #1f002e;

  --code-violet-400: #bd2eff;
  --code-violet-500: #170221;
  --code-blue-400: #2f51b1;
  --code-blue-500: #111727;
}

.animate-rotate {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  to {
    rotate: 360deg;
  }
}

/* SELECTION */

::selection {
  color: white;
  background: #2595be80;
}

/* animations */

pre::-webkit-scrollbar {
  background-color: #111;
  height: 13px;
  border-radius: 0px 0px 50% 50%;
}
pre::-webkit-scrollbar-thumb {
  background-color: var(--secundary-200);
  border-radius: 20px;
  border: 3.2px solid #111;
}
pre::-webkit-scrollbar-thumb:hover {
  background-color: var(--secundary-300);
}

/* Scrollbar */
body::-webkit-scrollbar {
  background-color: #111;
  width: 13px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary-500);
  border-radius: 20px;
  border: 3.2px solid #111;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-400);
}

@keyframes glow {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

@keyframes gradient {
  from {
    background-position: 0%;
  }
  to {
    background-position: 1200%;
  }
}

.rotate-card:hover {
  rotate: -1 2 0 25deg;
}

.chroma:hover {
  animation: gradient 25s linear infinite;
  background: linear-gradient(
    to left,
    var(--primary-300),
    var(--secundary-300),
    var(--secundary-400),
    var(--primary-300)
  );
  transition: 300ms;
  background-size: 2000%;
  box-shadow: 0px 0px 10px #ffffff3c;
}

.animate-chroma {
  animation: gradient 30s linear infinite;
  background: linear-gradient(
    to left,
    #f8baa3,
    #ef6676,
    #ee4566,
    #ef6676,
    #f8baa3
  );
  transition: 300ms;
  background-size: 2000%;
}

@keyframes gradient {
  to {
    background-position: 1200%;
  }
}

.section {
  position: relative;
}

h2 {
  @apply w-full bg-gradient-to-t from-gray-300 to-white bg-clip-text text-center text-4xl font-bold text-transparent;
}

.opacity {
  animation: opacity 2s linear infinite;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.glow {
  animation: glow 3s linear infinite;
}

@keyframes glow {
  50% {
    box-shadow: 0px 0px 20px #ffffff79;
  }
}

.wrapper {
  @apply flex w-full flex-col items-start justify-start gap-20 text-start;
}

.title {
  @apply w-full bg-gradient-to-t from-gray-300 to-white bg-clip-text text-start text-4xl font-bold text-transparent;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.crop-card {
  overflow: hidden;
  background-color: #fff;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  padding: 3px;
}

.glowing-card {
  width: 23em;
  position: absolute;
  height: 23em;
  border-radius: 50%;
  background-image: linear-gradient(var(--secundary-100), var(--secundary-400));
  animation: rotate 5s linear infinite;
}

.content-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  width: 100%;
  height: 100%;
  border-radius: 9px;
  z-index: 10;
}

/* ANIMATION CARDS */
.chroma {
  animation: rotate 5s linear infinite;
  width: 50em;
  translate: -50px 0px;
  height: 50em;
  position: absolute;
  border-radius: 50%;
  z-index: -1;

  background-image: linear-gradient(90deg, #2ae3ae, #c958fd);
}

@keyframes rotate {
  to {
    rotate: 360deg;
  }
}
.span {
  grid-column: 1/3;
}

.grid {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
}

.box {
  width: 100%;
  padding: 1px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.content {
  background-color: #1d232e;
  background-color: var(--dark-200);
  mix-blend-mode: darken;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 1em;
}
